:root {
    --gray-text: #EEEEEE;
}


/* app */
.overlay-app{
    position: absolute;
    width: 500px;
    height: 500px;
    right: -300px;
    top: 1200px;
    background: rgba(72, 97, 255, 0.9);
    filter: blur(240px);
    pointer-events: none;
    z-index: -999;
}
.overlay-app-2 {
    position: absolute;
    width: 500px;
    height: 500px;
    left: -400px;
    top: 2200px;
    background: rgba(72, 97, 255, 0.9);
    filter: blur(240px);
    pointer-events: none;
    z-index: -999;
}
.overlay-app-3 {
    position: absolute;
    width: 500px;
    height: 500px;
    right: -400px;
    top: 3700px;
    background: rgba(72, 97, 255, 0.9);
    filter: blur(240px);
    pointer-events: none;
    z-index: -999;
}
.overlay-app-4 {
    position: absolute;
    width: 500px;
    height: 500px;
    left: -300px;
    top: 5200px;
    background: rgba(72, 97, 255, 0.9);
    filter: blur(240px);
    pointer-events: none;
    z-index: -999;
}

.overlay {
    position: absolute;
    width: 70px;
    height: 900px;
    right: 400px;
    left: auto;
    transform: translateX(-50%);
    top: -180px;
    background: rgba(72, 96, 255, 0.768);
    border-radius: 100px;
    filter: blur(100px);
    pointer-events: none;
    z-index: -999;
}

.web-developer,
.game-developer {
    background: rgba(0, 0, 0, 0.637);
    box-shadow: rgba(72, 97, 255, 0.9);
}
.light-overlay {
    top: 140px;
    width: 200px;
    z-index: -999;
    height: 100px;
    right: 90px;
    filter: blur(70px);
    position: absolute;
    border-radius: 100%;
    background: rgba(72, 96, 255, 0.884);
    animation: kelapKelip 1.5s infinite ease-in-out;
}
@keyframes kelapKelip {
    0% {
        opacity: 0.7;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0.7;
      }
  }

@media (max-width: 768px) {
    .overlay {
        right: 100px;
    }
    
}

/* app */

/* navabr */

.close-btn {
    background: none;
    border: none;
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.icons-container {
    margin-top: 20px;
}

.icons-container a {
    margin: 0 10px;
    color: black;
}

/* navabr */

.container {
    max-width: 1200px;
}

.link-menu {
    background: linear-gradient(180deg, #2d2e3f50 20%, rgba(0, 0, 0, 0.24) 100%, rgba(0, 0, 0, 0.517) 20%);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.136);
}

.contact {
    background: linear-gradient(180deg, #2d2e3f 0%, rgb(0, 0, 0) 100%, rgb(0, 0, 0) 100%);
    border: 1px solid rgba(255, 255, 255, 0.034);
}

.hamburger {
    background: linear-gradient(180deg, #2d2e3f 0%, rgb(0, 0, 0) 100%, rgb(0, 0, 0) 100%);
    border: 1px solid rgba(255, 255, 255, 0.034);
    /* padding: 10px; */
    border-radius: 20px;
}



/* navbar end */

/* heropage start */
.title-hero h1 {
    line-height: 1.4em;
    /* font-size: 58px; */
}

.desc-hero h5 {
    color: var(--gray-text);
}

.btn-hero {
    background-color: rgb(84, 130, 255);
    border-radius: 8px;
}

.btn-hero2 {
    background: linear-gradient(180deg, #2d2e3f 20%, rgb(0, 0, 0) 100%, rgb(0, 0, 0) 20%);
    border: 1px solid rgba(255, 255, 255, 0.034);
    border-radius: 8px;
}

.project-carousel-infinity {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    position: relative;
    padding: 20px 0;
}

.carousel-track {
    display: flex;
    gap: 15px;
    animation: scroll 45s linear infinite;
    width: max-content;
    /* Pastikan track bisa lebih panjang dari container */
}

/* Ukuran gambar */
.carousel-track img {
    width: 400px;
    height: auto;
    border-radius: 8px;
}

/* Animasi seamless scrolling */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* Efek gradasi di kiri & kanan */
.fade-overlay {
    position: absolute;
    top: 0;
    width: 100px;
    /* Atur lebar efek fade */
    height: 100%;
    z-index: 2;
    pointer-events: none;
    /* Agar tidak mengganggu interaksi */
}

/* Gradasi kiri */
.fade-overlay.left {
    left: 0;
    background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}

/* Gradasi kanan */
.fade-overlay.right {
    right: 0;
    background: linear-gradient(to left, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}

.service-content h1,
.work-cont h1 {
    line-height: 4rem;
}

@media screen and (max-width: 767px) {
    .service-content h1,
    .work-cont h1 {
        line-height: normal;
    }
}
/* heropage end */

/* service start */
.web-desc h1,
.game-desc h1 {
    line-height: normal;
}
.web-developer,
.game-developer,
.project,
.about-profile,
.blog,
.work,
.blog-unreal {
    border: 1px solid rgba(255, 255, 255, 0.185);
}

.service-title h5,
.work-title h5 {
    color: rgba(192, 192, 192, 0.895);
}

.btn-service,
.work-btn,
.about-btn,
.btn-title-about,
.blog-btn,
.blog-page,
.btn-pages,
.btn-work-pages a,
.btn-work-index a {
    background: linear-gradient(180deg, #2d2e3f 0%, rgb(0, 0, 0) 100%, rgb(0, 0, 0) 100%);
    border: 1px solid rgba(255, 255, 255, 0.173);
    font-weight: 500;
}

.web-desc h1 {
    font-size: 22px;
}

.web-desc h5 {
    font-size: 16px;
    color: var(--gray-text);
}

.game-desc h1 {
    font-size: 22px;
}

.game-desc h5 {
    font-size: 16px;
    color: var(--gray-text);
}

.icon-web i {
    border: 1px solid rgba(72, 97, 255, 0.9);
    /* Biru muda */
    box-shadow: 0 0 15px rgb(72, 96, 255);
    /* Efek cahaya biru muda */
    transition: 0.3s ease-in-out;
}

.game-i {
    color: rgba(72, 97, 255, 0.9);
}

.web-i {
    color: rgba(72, 97, 255, 0.9);
}
/* service end */
/* work page */
.project {
    position: relative;
    overflow: hidden;
}


.btn-overlay {
    opacity: 0;
    justify-content: center;
    /* Posisi horizontal tengah */
    align-items: center;
    transform: scale(0.9);
    /* Nilai awal normal */
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.project:hover .btn-overlay {
    opacity: 1;
    transform: scale(1);
}

/* work page */
/* abou page */
.about-title h5 {
    color: var(--gray-text);
}

.modal-overlay {
  z-index: 999; /* pastikan lebih tinggi dari elemen lain */
}

/* abou page */

/* Blog page */
.blog-title h5 {
    color: var(--gray-text);
}

.created {
    color: var(--gray-text);
}

.full-blog:hover {
    color: var(--gray-text);
    transition: 0.2s ease-in-out;
}

/* Blog page */
.work-pages-title h5 {
    color: var(--gray-text);
}

.btn-work-detail {
    color: var(--gray-text);
}

.btn-work-detail a i {
    transition: transform 0.2s ease-in-out;
}

.btn-work-detail:hover a i {
    transform: translateX(8px);
    transition: transform 0.2s ease-in-out;
}












@media screen and (max-width: 1468px) {
    nav {
        margin-right: 16px;
        margin-left: 16px;
    }

    .content-hero {
        margin-right: 28px;
        margin-left: 28px;
    }

    .container {
        margin-right: 16px;
        margin-left: 16px;
    }
}

@media screen and (max-width: 1064px) {
    .about-flex {
        flex-direction: column;
    }

    .about-profile {
        margin-top: 20px;
    }
}

@media screen and (max-width: 849px) {
    .web-desc h5 {
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) {
    .link-menu {
        background: linear-gradient(180deg, #2d2e3f50 20%, rgba(0, 0, 0, 0.24) 100%, rgba(0, 0, 0, 0.517) 20%);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.136);
    }

    .contact {
        background: none;
        backdrop-filter: blur(0px);
        border: none;
    }

    .flex-1,
    .flex-2,
    .service-img-compt,
    .blog-direction,
    .work-flex {
        flex-direction: column;
    }

    .work-flex3 {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .hamburger {
        display: none;
    }
}

@media screen and (max-width: 502px) {

    .service-title h5 br,
    .service-title h1 br,
    .work-title h1 br,
    .work-title h5 br,
    .title-hero h1 br,
    .desc-hero h5 br,
    .blog-title h5 br,
    .blog h1 br {
        display: none;
    }
}


@media screen and (max-width: 551px) {
    .title-hero h1 br {
        display: none;
    }

    .desc-hero h5 br {
        display: none;
    }
}